body, html {
  margin: 0;
  height: 100%;
}

:root {
 --color-blue: #66ccff;
 --color-light-blue: #66ccff;
 --color-light-gray: #efefef;
 --color-gray: #737373;
 --color-dark-gray: #3d3d3d;
}

.lato {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  word-spacing: 2px;
}

.comfortaa {
  font-family: 'Comfortaa', serif;
  font-weight: 400;
}

.popup {
  position: fixed;
  bottom: -200px;
  right: 150px;
}

.wee {
  height: 200px;
}

.content {
  max-width: 1000px;
  margin: auto;
  padding: 0 50px 0 50px;
}

.back-img {
  height: 50px;
  padding: 10px 0 0 10px;
}

.header {
  height: 600px;
  margin: 0 0 0 -1000px;
  padding: 200px 0 0 0;
}

.header-name {
  margin: 0;
  font-size: 85px;
}

.header-link {
  margin: 0 10px 0 0;
  font-size: 24px;
  color: var(--color-blue);
}

.header-link:link {
  text-decoration: none;
}

.header-link:visited {
  color: var(--color-blue);
}

.header-link:hover {
  border-bottom: 1px solid;
  color: var(--color-light-blue);
}

.bio {
  margin: 400px 0 0 0;
}

.bio-desc {
  font-size: 36px;
  display: inline;
}

.work {
  padding: 0 0 60px 0;
}

.work-entry {
  margin: 200px 0 50px 0;
}

.work-title {
  padding: 0 0 0 15px;
  font-size: 36px;
}

.work-desc {
  padding: 0 0 0 15px;
  font-size: 18px;
  color: var(--color-gray);
}

.work-img {
  width: 100%;
  box-shadow: 0 0 20px var(--color-light-gray);
  box-shadow: 0 4px 8px 0 var(--color-light-gray), 0 6px 20px 0 var(--color-light-gray);
  border-radius: 25px;
}

.status-img {
  width: 12px;
  margin: 0 10px 3px 15px;
}

.status {
  margin: 15px 0 0 0;
  width: 100%;
  border-radius: 25px;
  font-size: 14px;
}

@media (max-aspect-ratio: 1/1) {
  .header {
    height: auto;
    margin: 0 0 0 -1000px;
    padding: 50px 0 50px 0;
  }

  .header-name {
    margin: 0;
    font-size: 50px;
  }

  .header-desc {
    margin: 0 0 20px 0;
    font-size: 14px;
    color: var(--color-gray);
  }
  
  .header-link {
    margin: 0 10px 0 0;
    font-size: 14px;
    color: var(--color-blue);
  }

  .bio-desc {
    font-size: 24px;
    display: inline;
  }

  .work-entry {
    margin: 50px 0 50px 0;
  }

  .work-title {
    padding: 0 0 0 0;
    font-size: 24px;
  }
  
  .work-desc {
    padding: 0 0 0 0;
    font-size: 16px;
  }

}

.footer {
  padding: 0 0 70px 0;
  font-size: 24px;
  text-align: center;
}
