@font-face {
  font-family: "Merriweather";
  src: url("fonts/MerriweatherLt.ttf");
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/Avenir.ttf");
}

.merriweather {
  font-family: "Merriweather", serif;
  color: #2d3b46;
  letter-spacing: 0.5px;
}

.avenir {
  font-family: "Avenir", serif;
  color: #2d3b46;
  letter-spacing: 0.5px;
}
