body {
  background-color: #f2f2f2;
  margin: 0;
}

.header {
  padding: 10vh 0 0 0;
  height: 100vh;
  text-align: center;
  display: none;
}

.circle {
  width: 30%;
}

.name {
  padding: 10px 0 0 0;
  font-size: 9vh;
}

.headerlink {
  padding: 0 10px 0 10px;
  font-size: 3vh;
}

.headerlink:link, .headerlink:visited {
  color: #999999;
  text-decoration: none;
}

.headerlink:hover {
  color: #339baf;
}

.bio {
  padding: 60px 0 60px 0;
  text-align: center;
}

.biodesc {
  color: #999999;
  padding: 25px 0 80px 0;
  font-size: 16px;
}

.logobox {
  height: 150px;
}

.logo {
  height: 100px;
  margin: 40px 0 0 0;
}

.worktitle {
  color: #2d3b46;
  padding: 20px 0 0 0;
  font-size: 20px;
}

.workdesc {
  color: #999999;
  font-size: 16px;
}

.footer {
  background-color: #2d3b46;
  color: #f2f2f2;
  padding: 35px 0 10px 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
