body {
  background-color: #f2f2f2;
  margin: 0;
}

.header {
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url("images/kevin_chik_bg.jpg");
  background-size: cover;
  height: 70vh;
}

.header-content {
  padding: 20vh 0 0 10vh;
}

.name {
  color: #f2f2f2;
  font-size: 16vh;
  opacity: 0;
}

.header-link{
  padding: 0 13px 0 7px;
  font-size: 3vh;
  opacity: 0;
}

.header-link:link, .header-link:visited {
  color: #f2f2f2;
  text-decoration: none;
}

.header-link:hover, .work-link:hover{
  color: #2d3b46;
}

.about {
  padding: 40px 0 60px 0;
  text-align: center;
}

.description {
  color: #999999;
  padding: 25px 0 0 0;
  font-size: 16px;
}

.work {
  text-align: center;
  padding: 0 0 60px 0;
}

.work-box {
  background-color: #e2e2e2;
  border-radius: 10px;
  height: 250px;
  margin: 25px 0 15px 0;
}

.work-logo {
  height: 250px;
  display: block;
  margin: auto;
}

.work-overlay {
  height: 250px;
  opacity: 0;
  background-color: #000000;
  border-radius: 10px;
  margin: -265px 0 0 0;
}

.footer {
  background-color: #2d3b46;
  color: #f2f2f2;
  padding: 35px 0 10px 0;
  width: 100%;
  text-align: center;
  vertical-align: bottom;
  font-size: 12px;
}
