---
---
  
@font-face
  font-family: 'Couriero'
  src: url('https://cdn.kevinchik.me/fonts/courier.ttf')

body
  margin: 80px auto
  padding: 30px
  padding-right: 60px
  max-width: 500px
  background-color: #f9f9f9
  font-family: 'Couriero'
  font-size: 14px
  line-height: 1.5em

a
  text-decoration: none
  font-size: 12px
  color: #49f
  border-bottom: 1px solid
  &:hover
    color: #9cf

summary
  cursor: pointer
  &:focus
    outline: none
  &::-webkit-details-marker
    display: none
  &:before
    content: "\\ "

.header
  margin-top: 3em
  font-size: 14px
  font-weight: bold

.content
  margin-left: 2em

details
  margin-bottom: 1em
  summary
    font-weight: bold
  &[open] summary:before
    content: "/ "
  p
    margin-left: 2em
    font-size: 12px
  table
    margin-left: 2em
    padding-right: 2em
    width: 100%
    font-size: 12px
    td
      padding-top: 1em
      line-height: 1.5em
    .alt
      vertical-align: top
      text-align: right
      color: #888
      padding-left: 1em
