---
---

body
  margin: 80px auto
  padding: 30px
  padding-right: 60px
  max-width: 500px
  background-color: #f9f9f9
  font-family: courier, monospace
  font-size: 14px
  line-height: 1.5em

a
  text-decoration: none
  color: #49f
  border-bottom: 1px solid
  &:hover
    color: #9cf

.header
  margin-top: 3em
  font-size: 12px
  font-weight: bold

.content
  margin-left: 2em

table
  padding-right: 2em
  width: 100%
  font-size: 12px
  font-size: 14px
  line-height: 2em

  .alt
    padding-left: 1em
    vertical-align: top
    text-align: right
    color: #bbb
